<nav class="navbar navbar-default"
  [style.backgroundColor]="backgroundColor">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <!-- routerLinkActive will at a string of css class if this
            link is active.
            note: seperate css classes by white space -->
        <li routerLinkActive="active current">
          <!-- do not use href attribute, it will refresh entire page 
              use routerLink instead.
              [queryParams] sends optional parameters in url
            -->

          <a routerLink="/followers"
            [queryParams]="{ page: 1, order: 'newest'}">
            Followers
          </a>
        </li>
        <li routerLinkActive="active current">
          <a routerLink="/posts">
            Posts
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>