<form [formGroup]="myForm">
  <!-- old password -->
  <div class="form-group">
    <label for="oldpassword">
      Old password
    </label>
    <input formControlName="oldPassword"
      type="password" class="form-control" id="oldpassword">
    <div *ngIf="oldPassword.touched && oldPassword.invalid"
      class="alert alert-danger">
      <div *ngIf="oldPassword.errors.required">
        Old password is required.
      </div>
      <div *ngIf="oldPassword.errors.invalidOldPassword">
        Old password is invalid.
      </div>
    </div>
  </div>

  <!-- new password -->
  <div class="form-group">
    
    <label for="newpassword">
      New password
    </label>
    <input formControlName="newPassword"
      type="password" class="form-control" id="newpassword">
    <div *ngIf="newPassword.touched && newPassword.invalid"
      class="alert alert-danger">
      <div *ngIf="newPassword.errors.required">
        New password is required.
      </div>
    </div>
  </div>

  <div class="form-group">
    <!-- confirm password -->
    <label for="confirmpassword">
      Confirm password
    </label>
    <input formControlName="confirmPassword"
      type="password" class="form-control" id="confirmpassword">
    <div *ngIf="confirmPassword.touched && confirmPassword.invalid"
      class="alert alert-danger">
      <div *ngIf="confirmPassword.errors.required">
        Confirm password is required.
      </div>
    </div>
  </div>
  <!-- check if two passwords match -->
  <div *ngIf="confirmPassword.valid && myForm.invalid && myForm.errors.passwordShouldMatch"
    class="alert alert-danger">
    Password should match.
  </div>
  <button class="btn btn-primary">
      Change Password
  </button>
</form>