<h1>Angular</h1>
<courses></courses>
<favourite [is-favourite]="post.isFavourite" (change)="onFavouriteChanged($event)"></favourite>

<bootstrap-panel>
    <!-- these class names are defined in bootstrap-panel component using ngContent -->
    <!-- ng-container will be replaced by its content 
        e.g. Heading, and <h2>Body</h2><p>Can also pass HTML here as input</p> -->
    <ng-container class="heading">Heading</ng-container>
    <ng-container class="body">
        <h2>Body</h2>
        <p>Can also pass HTML here as input</p>
    </ng-container>
</bootstrap-panel>

<like [likes-count]="15" [is-liked]="false"></like>

<!-- ngIf will not create DOM, hidden will create DOM and hide them -->
<div *ngIf="courses.length > 0; then courseList else noCourses"></div>
<ng-template #courseList>
    List of courses
</ng-template>
<ng-template #noCourses>
    No courses yet
</ng-template>

<div [hidden]="courses.length !== 0">
    Some courses
</div>

<!-- ? is a safe traversal operator
    no error if assignee is undefined
    Angular will render an empty span -->
<span>
    {{ post.assignee?.name }}
</span>

<!-- costum directive with an input argument
    appInputFormat is the name of costum of costum pipe
    'uppercase' is input argument -->
<input type="text" [appInputFormat]="'uppercase'">

<zippy title="Shipping Details">
    Shipping Details Content
</zippy>
<zippy title="Billing Details">
    Billing Details Content
</zippy>

<contact-form></contact-form>

<new-course-form></new-course-form>

<signup-form></signup-form>

<change-password></change-password>