<form #f="ngForm">
  <div class="form-group">
    <label for="courseName">
      Course Name
    </label>
    <input 
      required
      ngModel
      name="courseName"
      #courseName="ngModel"
      minlength="5"
      id="courseName"
      class="form-control"
      type="text">
    <!-- error messages -->
    <div
      *ngIf="courseName.touched && !courseName.valid"
      class="alert alert-danger">
      <div *ngIf="courseName.errors.required">
        Course name is required
      </div>
      <div *ngIf="courseName.errors.minlength">
        Course name should be minimum {{ courseName.errors.minlength.requiredLength }} characters.
      </div>
    </div>

    <!-- categories -->
    <div class="form-group">
      <label for="category">
        Category
      </label>
      <select class="form-control" ngModel name="category" id="category">
        <option value=""></option>
        <option *ngFor="let category of categories" [ngValue]="category">
          {{ category.name }}
        </option>
      </select>
    </div>

    <!-- money back checkbox -->
    <div class="checkbox">
      <label>
        <input type="checkbox" ngModel name="hasGuarantee">30-day money-back guarantee?
      </label>
    </div>

    <!-- for debugging only -->
    <p>
      {{ f.value | json }}
    </p>

    <!-- submit button -->
    <button class="btn btn-primary" [disabled]="!f.valid">
      Submit
    </button>
    
  </div>
</form>

<!-- dynamically create some fields in a form -->
<form>
  <!-- #topic is a template variable, it reference to this input tag -->
  <input type="text" class="form-control"
    (keyup.enter)="addTopic(topic)" #topic>
  <ul class="list-group">
    <li 
      *ngFor="let topic of topics.controls"
      (click)="removeTopic(topic)"
      class="list-group-item">
      {{ topic.value }}
    </li>
  </ul>
</form>