<div *ngFor="let follower of followers"
  class="media">
  <div class="media-left">
    <!-- for simple routes, use routerLink attribute
        for routes with parameters, use property binding
        the first element is the path
        the following elements are arguments -->
    <a [routerLink]="['/followers', follower.id, follower.login]">
      <img src="{{ follower.avatar_url }} " alt="..." class="avatar media-object">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      {{ follower.login }}
    </h4>
    <a href="follower.html_url">
      {{ follower.html_url }}
    </a>
  </div>
</div>